<div class="nav_content">
    <a href="/dashboard"  class="flex hover link">
        <a href="/dashboard" style="background-color: <%=index===0 ? '#0074A6' : 'transparent'%>;" class="flex hover link">
        <img src="/icons/dashboards<%=index===0? '': '-outline'%>.png" alt="Dashboard" width="18px" height="18px">
        <p style="
        color: <%=index===0 ? 'white' : ''%>;
        font-weight: <%=index===0 ? 'bold' : ''%>;
        ">Dashboard</p>
    </a>

    <p class="sec_txt">Menu</p>
    <a href="/products" style="background-color: <%=index===1 ? '#0074A6' : 'transparent'%>;" class="flex hover link">
        <img src="/icons/package<%=index===1? '': '-outline'%>.png" alt="Products" width="18px" height="18px">
        <p style="
        color: <%=index===1 ? 'white' : ''%>;
        font-weight: <%=index===1 ? 'bold' : ''%>;
        ">Products</p>
    </a>
    <a href="" style="background-color: <%=index===2 ? '#0074A6' : 'transparent'%>;" class="flex hover link">
        <img src="/icons/shopping-bag<%=index===2? '': '-outline'%>.png" alt="orders" width="18px" height="18px">
        <p style="
        color: <%=index===2 ? 'white' : ''%>;
        font-weight: <%=index===2 ? 'bold' : ''%>;
        ">Orders</p>
    </a>
    <a href="" style="background-color: <%=index===3 ? '#0074A6' : 'transparent'%>;" class="flex hover link">
        <img src="/icons/group<%=index===3? '': '-outline'%>.png" alt="Users" width="18px" height="18px">
        <p style="
        color: <%=index===3 ? 'white' : ''%>;
        font-weight: <%=index===3 ? 'bold' : ''%>;
        ">Users</p>
    </a>
    <a href="/analytics" style="background-color: <%=index===4 ? '#0074A6' : 'transparent'%>;" class="flex hover link">
        <img src="/icons/bar-chart<%=index===4? '': '-outline'%>.png" alt="Analytics" width="18px" height="18px">
        <p style="
        color: <%=index===4 ? 'white' : ''%>;
        font-weight: <%=index===4 ? 'bold' : ''%>;
        ">Analytics</p>
    </a>

    <div  style="margin-top: 50px;
    " class="flex hover link">
        <img src="/icons/logout.png" alt="Logout" width="18px" height="18px">
        <p>Logout</p>
</div>
</div>
