<!DOCTYPE html>
<html lang="en">
    <% var selectedIndex = 0 %>
<%- include('./components/head.ejs') %>
<style>
    .image_preview{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: aqua; */
        height: 85%;
        justify-content: space-evenly;
    }
    .image_preview img{
        background-color: #d3d3d3d3;
        border-radius: 5px;
    }
    #main_prev{
        height: 200px;
        width: 100%;
        object-fit: contain;
    }
    #sub_prev{
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
    .image_preview .flex{
        /* justify-content: space-between; */
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
    }
    label.file_select{
        padding: 12px 16px;
        font-size: 13px;
        font-weight: normal;
        border: 1px solid grey;
        color: grey;
        text-align: center;
        border-radius: 5px;
    }
    #input_file{
        display: none;
    }
    
    
</style>

    <body>
       <div class="home flex">
            <nav>
                <a href="" class="link"><h1 class="web_title">TECHWISE</h1></a>
                <hr color="#F8F8F8">
                <%- include('./components/navDrawer.ejs', {index: 1}) %>
            </nav>
            <div class="content">
                <%- include('./components/headerBar.ejs') %>
                <div class="main">
                    <div class="flex spc_btw">
                        <h2 class="main_heading">Add New Product</h2>
                        <button class="custom_btn">Add Product</button>
                    </div>
                   

                    <main class="add_product_content">
                        <div class="sec_1">

                            <div class="general_info card">
                                <h2 class="sub_heading">General Information</h2>
                                <br>
                                <div class="grid">

                                    <div class="p_info">
                                        <label for="pName">Product Name</label>
                                        <input type="text" name="" id="pName" placeholder="Enter product name here">
                                        <br><br>
                                        <label for="pDescription">Product Description</label>
                                         <textarea name="" id="pDescription" placeholder="Enter product description here"></textarea>
                                    </div>

                                    <div class="p_prop">
                                        <table>
                                            <tr>
                                                <th>Product Properties</th>
                                            </tr>
                                            <% const keyProperties = [{
                                                property: "Chipset Brand",
                                                value: "AMD"
                                            }, {
                                                property: "Wireless Type",
                                                value: "802.11a/b/g/n/ac, Bluetooth"
                                            }, {
                                                property: "Processor",
                                                value: "3.9 GHz ryzen 5"
                                            }, {
                                                property: "Standing screen display size",
                                                value: "0.1"
                                            }, {
                                                property: "Number of Processors",
                                                value: "6"
                                            }]; %>
                                            
                                            <% keyProperties.forEach((element) => {%>
                                                <tr>
                                                    <td><%=element.property%></td>
                                                    <td><%=element.value%></td>
                                                </tr>
                                            <%}) %>

                                        
                                        </table>
                                        <form style="text-align: center;">
                                            <div class="kv">
                                                <input id="key_property" type="text" placeholder="Key property" required>
                                                <input id="key_value" type="text" placeholder="value" required>
                                            </div>
                                            
                                            <input  style="margin-top: 7px;" type="submit" class="custom_btn" value="Add Property">
                                        </form>
                                       
                                    </div>
                                </div>
                            </div>

                            <div class="stock card">
                                <h2 class="sub_heading">Pricing and Stock</h2><br>
                               <div class="stk">
                                    <div class="grid">
                                        <div class="col">
                                            <label for="pricing">Base Pricing</label>
                                            <input type="number" id="pricing" placeholder="372.34" required>
                                        </div>
                            
                                        <div class="col">
                                            <label for="stock">Stock</label>
                                            <input type="number" id="stock" placeholder="100" required>
                                        </div>
                                    </div>


                                    <div class="grid">
                                        <div class="col">
                                            <label for="discount">Discount</label>
                                            <input type="number" id="discount" placeholder="25" min="1" max="100">
                                        </div>
                                    
                                        <div class="col">
                                            <label for="discount_type">Discount type</label>
                                            <select name="" id="discount_type">
                                                <option>---</option>
                                                <option value="Christmas">Christmas Discount</option>
                                                <option value="Christmas">Easter Discount</option>
                                                <option value="Christmas">New Year Discount</option>
                                            </select>
                                        </div>
                                    
                                    </div>
                               </div>                                
                            </div>

                        </div>
                        <div class="sec_2">
                            <div class="upload_img card">
                                <h2 class="sub_heading">Upload Images</h2>

                                <div class="image_preview">
                                    <!-- <img src="" alt="" id="main_prev">
                                    <div class="flex">
                                        <img src="" alt="" id="sub_prev">
                                        <img src="" alt="" id="sub_prev">
                                        <img src="" alt="" id="sub_prev">
                                        <img src="" alt="" id="sub_prev">
                                    </div> -->
                                    <div>
                                        <p>No image added yet</p>
                                    </div>
                                </div>

                                <label class="file_select hover" for="input_file">Add Image</label>
                                <input type="file" id="input_file" accept="image/jpeg, image/jpg, image/png">
                            </div>

                            <script>
                                let images = [];
                                
                                const imagePreview = document.querySelector('.image_preview');
                                const inputFile = document.getElementById('input_file');

                                inputFile.onchange = function(){
                                    const files = inputFile.files;
                                    
                                    for(const file of files){
                                        var template;
                                        const url = URL.createObjectURL(file);
                                        
                                        if(images.length ===0){
                                            template = `
                                            <img src="${url}" alt="" id="main_prev">
                                            <div id="sub_images" class="flex">
                                                <img src="${url}" alt="" id="sub_prev">
                                            </div>
                                        `;
                                            imagePreview.innerHTML = template;
                                        } else if (images.length === 4){

                                        } else if (images.length > 4){

                                        } else {
                                            const img = document.createElement('img');
                                            img.id = 'sub_prev';
                                            img.src = url;
                                            const subImages = document.getElementById('sub_images');
                                            subImages.append(img);
                                        }

                                        images.push(url);
                                    }   
                                    console.log(images)  
                                    
                                }
            
                            </script>

                            <div class="category card">
                                <h2 class="sub_heading">Category</h2>
                               <div class="cat">
                                    <div class="col">
                                        <label for="category">Category</label>
                                        <select name="" id="category">
                                            <% const categories = ['---',
                                                'Laptops', 'Desktops',
                                                'Pc Gaming', 'Monitors', 
                                                'Computer Components', 'Tablets & Phones',
                                                'Computer Accessories', 'Storage & Hardrives',
                                                'Networking'
                                            ]; %>
                                        
                                            <% categories.forEach(function(value) { %>
                                                <option value="<%=(value === '---'? '': value)%>"><%=value%></option>
                                            <% }); %>
                                        </select>                                        
                                    </div>
                                    <button class="custom_btn">Add Category</button>
                               </div>
                            </div>
                        </div>
                    </main>
                </div>

               
            </div>
       </div>
       <div class="mobile_drawer_background" onclick="toggleDrawer()"></div>
       <div class="mobile_drawer">
            <%-include('./components/navDrawer.ejs', {index: 1})%>
        </div>
    </body>

</html>